@use "mixins" as *;
@use "variables" as *;

.accelerate {
    &__container {
        display: flex;
        gap: 9rem;
        padding-top: 7.5rem;
    }

    &__left {
        @include fl(space-between, start, 0);
        flex-direction: column;
        flex: 1;
    }

    &__right {
        flex: 1;
    }
    
    &__img {
        width: 100%;
    }

    &__h1 {
        @include textNormal(2.5rem, 700, 120%, $dark-font);
    }

    &__answers {
        width: 70%;
        @include fl(start, start, 1.5rem);
        flex-direction: column;
    }

    &__line {
        background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(237, 237, 237, 1) 40%, rgba(237, 237, 237, 1) 100%);
        width: 100%;
        height: .125rem;
    }

    &__instant-answerds {
        @include textNormal(1.5rem, 700, 140%, $dark-font);
    }

    &__p {
        @include textNormal(1.125rem, 400, 150%, $dark-font);
    }

    &__btn {
        @include textNormal(1.5rem, 700, 140%, $dark-font);
        opacity: 50%;
        border-top: $neutral-font solid 2px;
        padding-top: 1.625rem;
    }
}