@use "variables" as *;

body {
    font-family: Inter;
}

a {
    text-decoration: none;
}

.field {
    width: 80%;
    max-width: 1321px;
    margin: 0 auto;
    padding: 0 64px;
}

.btn {
    font-family: Inter;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 10px;
    background-color: $blue-btn;
    color: $ligth-font;
    padding: 12px 24px;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}