@use "variables" as *;
@use "mixins" as *;

.header {
    background-color: $dark-bg;
    padding: 16px 0;
    &__list {
        display: flex;
        gap: 24px;
    }
    &__fl {
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    &__link {
        @include textNormal(1rem, 600, 150%);
    }
    &__link--home {
        @include textNormal(1.2rem, 900, 150%);
        gap: 4px;
    }
    &__logo {
        width: 1.2rem;
        margin-right: 8px;
    }
    &__right {
        gap: 1.5rem;
    }
}