.header {
    background-color: #222222;
    padding: 16px 0;
    &__list {
        display: flex;
        gap: 10px;
    }
    &__fl {
        display: flex;
        justify-content: space-between;
    }
}