@use "variables" as *;

@mixin textNormal($f-size, $f-weight, $l-height, $color: $ligth-font, $align: left) {
  font-family: Inter;
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $l-height;
  letter-spacing: 0%;
  color: $color;
  text-align: $align;
}