@charset "UTF-8";
body {
  font-family: Inter;
}

a {
  text-decoration: none;
}

.field {
  width: 80%;
  max-width: 1321px;
  margin: 0 auto;
  padding: 0 64px;
}

.btn {
  color: #ffffff;
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0%;
}

.btn--bl {
  border-radius: 10px;
  background-color: #146EF5;
  color: #ffffff;
  padding: 12px 24px;
}

.btn--tr {
  color: #ffffff;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
.header {
  background-color: #000000;
  padding: 16px 0;
}
.header__list {
  display: flex;
  gap: 24px;
}
.header__fl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
}
.header__link--home {
  font-family: Inter;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  gap: 4px;
}
.header__logo {
  width: 1.2rem;
  margin-right: 8px;
}
.header__right {
  gap: 1.5rem;
}

.banner {
  background-image: url(../img/bg-banner.png);
  background-size: 100%;
}
.banner__main {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  padding-top: 6.25rem;
}
.banner__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  text-align: center;
  padding-bottom: 1.5rem;
}
.banner__p {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  text-align: center;
  padding-bottom: 3.25rem;
}
.banner__btn {
  margin-bottom: 6.25rem;
}
.banner__img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-bottom: 3.8125rem;
}

.agents__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  text-align: center;
  padding-top: 7.5rem;
}
.agents__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 3.25rem;
}
.agents__card {
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
  background-color: black;
  aspect-ratio: 141/163;
}
.agents__bg {
  width: 100%;
  opacity: 0.8;
}
.agents__card-title {
  position: absolute;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  bottom: 2rem;
  left: 2rem;
  opacity: 1;
  width: 50%;
}
.agents__card div {
  position: absolutе;
  bottom: 32px;
  right: 32px;
  width: 32px;
}
.agents__card-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accelerate__container {
  display: flex;
  gap: 9rem;
  padding-top: 7.5rem;
}
.accelerate__left {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0;
  flex-direction: column;
  flex: 1;
}
.accelerate__right {
  flex: 1;
}
.accelerate__img {
  width: 100%;
}
.accelerate__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.accelerate__answers {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1.5rem;
  flex-direction: column;
}
.accelerate__line {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgb(237, 237, 237) 40%, rgb(237, 237, 237) 100%);
  width: 100%;
  height: 0.125rem;
}
.accelerate__instant-answerds {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.accelerate__p {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.accelerate__btn {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  opacity: 50%;
  border-top: #eeeeee solid 2px;
  padding-top: 1.625rem;
}

.trusted {
  margin-top: 7.5rem;
  background-color: #eeeeee;
}
.trusted__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  padding-top: 7.5rem;
}
.trusted__h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  width: 50%;
  text-align: center;
}
.trusted__a {
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.trusted__cards {
  display: grid;
  grid-template-areas: "a b c d" "e f f g";
  grid-template-columns: repeat(4, 1fr);
  padding-top: 3.25rem;
  gap: 2rem;
}
.trusted__card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0;
  flex-direction: column;
  border-radius: 0.75rem;
  height: 22.75rem;
  padding: 2rem;
}
.trusted__card--1 {
  background-color: #AF96F6;
}
.trusted__card--2 {
  background-color: #96e8f6;
  color: white;
}
.trusted__card--3 {
  background-color: white;
}
.trusted__card--4 {
  background-color: #e2cb58;
  color: white;
}
.trusted__card--5 {
  background-color: #43d0a3;
  color: white;
}
.trusted__card--6 {
  background-color: white;
}
.trusted__card--7 {
  background-color: #DEE948;
}
.trusted__h1--card {
  font-family: Inter;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
}
.trusted__p--card {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  padding-bottom: 2rem;
}
.trusted__h2--card {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.trusted__h3--1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
}
.trusted__h3--card {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
}

.how__header {
  text-align: center;
  padding-top: 7.5rem;
  padding-bottom: 3.25rem;
}
.how__h1--header {
  font-family: Inter;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
}
.how__p--header {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
}
.how__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}
.how__block {
  border-top: 2px solid;
  opacity: 50%;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(237, 237, 237) 0%, rgb(237, 237, 237) 100%);
  transition: 0.1s;
}
.how__block:hover {
  border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgb(237, 237, 237) 40%, rgb(237, 237, 237) 100%);
  opacity: 100%;
  animation-name: transition;
  animation-duration: 0.1s;
}
.how__h2--bottom {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  padding-top: 1.5rem;
}
.how__p--bottom {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: left;
  padding-top: 1rem;
}

@keyframes transition {
  0% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(237, 237, 237) 0%, rgb(237, 237, 237) 100%);
  }
  25% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(237, 237, 237) 10%, rgb(237, 237, 237) 100%);
  }
  50% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(237, 237, 237) 20%, rgb(237, 237, 237) 100%);
  }
  75% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 30%, rgb(237, 237, 237) 30%, rgb(237, 237, 237) 100%);
  }
  100% {
    border-image-source: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, rgb(237, 237, 237) 40%, rgb(237, 237, 237) 100%);
  }
}
.built__h1--top {
  padding-top: 7.5rem;
  font-family: Inter;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
}
.built__p--top {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
  padding-top: 1rem;
}
.built__btn--top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding-top: 2rem;
}
.built__a--top {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: #222222;
  text-align: center;
}/*# sourceMappingURL=main.css.map */